<link type="text/css" rel="stylesheet" href="/dist/scripts/footer.css">

<footer id="footer" data-visible="true">
    <div class="footer-row" style="text-align: center; position: fixed;">
        <p class="footer-content">Copyright &copy Elijah Helfenstein, Zachary Gephart <%= new Date().getFullYear() %></p>
        <a href="/about">About</a>
    </div>
</footer>