<footer id="footer" data-visible="true">
    <div class="footer-row">
        <p class="footer-content">Copyright &copy Elijah Helfenstein, Zachary Gephart <%= new Date().getFullYear() %></p>
        <a id="menu-about" class="menu-link" style="margin-left: 30px;" href="/about">About</a>
    </div>
</footer>