
</div>

<link type="text/css" rel="stylesheet" href="/dist/scripts/footer.css">

<footer id="footer" data-visible="true">
    <div class="footer-row" style="background-color: white; width: 100%; text-align: center; position: fixed; z-index: 99; bottom: 0;">
        <p class="footer-content">Copyright &copy Elijah Helfenstein, Zachary Gephart <%= new Date().getFullYear() %> <a style="color:black;"href="/about">About</a></p>
    </div>
</footer>