<title>Deja Brew</title>

<header id="navbar">
    <nav>
        <div class="navbar-container">
            <a class="nav-heading-text" href="/home">
                <b class="nav-heading">Deja Brew</b>
            </a>
            <ul class="menu">
                <li>
                    <a id="menu-bar" class="menu-link" href="/bar">Bars</a>
                </li>
                <li>
                    <a id="menu-tab" class="menu-link" href="/tab">Bills</a>
                </li>
                <li>
                    <a id="menu-brewery" class="menu-link" href="/brewery">Breweries</a>
                </li>
            </ul>
        </div>
    </nav>
</header>