<title>Deja Brew</title>

<link href="/dist/scripts/tailwind.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/dist/scripts/about.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/bar.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/beer-new.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/departments.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/footer.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/header.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/home.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/brewery.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/beer.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/bill.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/universal-styles.css">


<header id="navbar">
    <nav>
        <div class="navbar-container">
            <a class="nav-heading-text" href="/">
                <b class="nav-heading">Deja Brew</b>
            </a>
            <ul class="menu">
                <li>
                    <a id="menu-bar" class="menu-link" style="margin-left: 30px;" href="/bar">Bars</a>
                </li>
                <li>
                    <a id="menu-tab" class="menu-link" href="/bill">Bills</a>
                </li>
                <li>
                    <a id="menu-brewery" class="menu-link" href="/brewery">Breweries</a>
                </li>
                <li>
                    <a id="menu-beer" class="menu-link" href="/beer">Beers</a>
                </li>
            </ul>
        </div>
    </nav>
</header>