<title>Deja Brew</title>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Cardo:wght@400;700&family=Josefin+Slab&family=Libre+Franklin:wght@200&family=Lora:wght@400;500&family=Montserrat:wght@300&family=Open+Sans:wght@500&family=Raleway:wght@300&family=Rokkitt:wght@300&family=Rubik:wght@300&family=Source+Sans+Pro&family=Unna&family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/dist/scripts/header.css">
<link type="text/css" rel="stylesheet" href="/dist/scripts/universal-styles.css">


<header id="navbar">
    <nav>
        <div class="navbar-container">
            <a class="nav-heading-text" href="/">
                <b class="nav-heading">Deja Brew</b>
            </a>
            <ul class="menu">
                <li>
                    <a id="menu-bar" class="menu-link" href="/bar">Bars</a>
                </li>
                <li>
                    <a id="menu-tab" class="menu-link" href="/bill">Bills</a>
                </li>
                <li>
                    <a id="menu-brewery" class="menu-link" href="/brewery">Breweries</a>
                </li>
                <li>
                    <a id="menu-beer" class="menu-link" href="/beer">Beers</a>
                </li>
            </ul>
        </div>
    </nav>
</header>