<link type="text/css" rel="stylesheet" href="/dist/scripts/about.css">
<%- include('./partials/header.ejs') %>
<div>
    <p>
        Imagine you wake up from a night out with the boys. You met a cute blond and by that I 
        mean a nice cold pint of Weissbier. But for the life of you, you can’t remember what its name. 
        INTRODUCING DEJABREW!!! With the help of DejaBrew users across the country can now 
        find their favorite beverages and discover new drinks to enjoy. Not only can they find their 
        favorite beverages wherever they go but they can also find new local favorites with our Rating 
        and Commenting system. This application isn’t your college sons alcoholic friendly dating app 
        rather its your snobby neighbors go-to place to see what’s “hopping” in the bars near them. This 
        application plans on uniting Customers with Bars and the Brew Masters by enabling 
        instantaneous feedback on products and services. Through the use of our web application can 
        friend other consumers and see their reviews on ‘ale’ the beers they have been drinking. Our 
        system also uses this system to see the Tabs at the bars that you’ve been to keep track of the 
        money you’ve spent and what you’ve purchased. With this system we are able to closely monitor 
        the price of a specific beverage at different bars across the country. Future plans involve the 
        development and release of a mobile friendly application with beverage identification and the 
        ability to share photos with your lovely pint. With the help of DejaBrew beer snobs, bartenders, 
        and beer masters are all connected now more than ever.
    </p>
</div>
<%- include('./partials/footer.ejs') %>