<link type="text/css" rel="stylesheet" href="/dist/scripts/bar.css">

<%- include('./partials/header.ejs') %>
<section id="bar-page">
    <div>
        <header>
            <h1>
                Bars
            </h1>
        </header>

        <div class="searches">
            <form action="/bar-search" method="POST">
                <input type="text" id="barName" name="barName" placeholder="Search Name"><br><br>
                    <div class="statistic-input-column">
                        <p class="BeersOnTap"><b>Beers on tap:</b> <input placeholder="0-10" type="number" class="" name="beerOnTap" size="5" maxlength="12" min="0" max="10" step="1"></p>
                    </div>
                <button type="submit" class="bar-search-button">Search</button>
            </form>
        </div>

        <div class="bar-items">
            <%if(barData.length != 0) { %>
                <% barData.forEach(function(barData) { %>
                    <div>
                        <div class="bar-title">
                            <h2 class="bar-title-text">
                                <div class="bar-title-and-buttons">
                                    <div class="bar-full-title">
                                        <%= barData.Name %>
                                    </div>
                                    <div style="padding-left:50px">
                                        Location: <%= barData.Location %>
                                    </div>
                                </div>
                            </h2>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="no-bar-data">There is currently no bar data.</h2>
            <% } %>
        </div>
    </div>
</section>

<%- include('./partials/footer.ejs') %>