<%- include('./partials/header.ejs') %>
    <section id="beer-create-page">
        <div class="fade-in">
            <header>
                <h1 class="beer-create-page-text">Create Beer</h1>
            </header>
            <div class="beer-create-ordering">
                <div class="beer-create-item">
                    <form class="form-create-beer-horizontal" action="/beer-add" method="POST">
                        <div class="beer-create-name">
                            <h2 class="beer-create-name-text">
                                <div class="beer-name-create-buttons ">
                                    <div>
                                        <i class="fa-solid fa-house-medical"></i>
                                        Beer Name: 
                                        <input placeholder="Enter Beer Name" type="text" class="name-input" name="beername" size="10" required>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <div class="beer-create-card">                                
                            <div class="beer-create-column">
                                <p class="beer-edit-text-info"><b>Location:</b> <input placeholder="Enter Location" type="text" class="name-input" name="beerlocation" size="10" required></p>
                            </div>
                            <div class="beer-create-column">
                                <p class="beer-edit-text-info"><b>Description:</b> <input placeholder="Enter Description" type="text" class="name-input" name="beerdescription" size="10" required></p>
                            </div>
                        </div>
                        <div class="beer-create-buttons">
                            <a id="beer-create-icon1" class="all-button-container-one" href="/beer">
                                <span class="beer-button-icon"><i class="fa-solid fa-circle-xmark"></i> Cancel</span>
                            </a>
                            <button type="submit" id="beer-create-icon2" class="all-button-container-two">
                                <span class="beer-button-icon"><i class="fa-solid fa-house-medical-circle-check"></i> Create</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer.ejs') %>