
<%- include('./partials/header.ejs') %>
<h1>
    Breweries
</h1>

<% breweryData.forEach(function(breweryData) { %>
    <div><%= breweryData.Name %></div>
<% }) %>

<%- include('./partials/footer.ejs') %>