<link rel=”stylesheet” href=”dist/scripts/tailwind.css”/>

<section id="home-page">
    <div>
        <header>
            <h1>Deja Brew</h1>
            <h2>A place for you and your brews</h2>
        </header>
    </div>
</section>
